<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>App - Notes</title>
</head>
<body class="bg-zinc-900 text-white w-screen h-screen">
    <div class="w-full h-full p-10 flex flex-col gap-10">
        <div>
            <a href="/" class="underline text-blue-500">Create notes.</a>
            <h1 class="text-5xl font-semibold mt-4">Your Notes</h1>
        </div>
        <% if (Array.isArray(notes) && notes.length > 0) { %>
            <div>
                <% notes.forEach((note) => { %>
                    <div class="bg-zinc-800 p-4 rounded-lg mb-4 inline-block max-w-96">
                        <div class="flex flex-col">
                            <h1 class="text-2xl font-semibold capitalize col-span-8"><%= note.title %></h1>
                            <p class="text-lg col-span-8 mb-6 word-wrap"><%= (note.content).split(' ').slice(0, 8).join(' ') %>...</p>
                            <div class="flex items-center justify-between">
                                <div class="flex gap-2 inline-block">
                                    <a href="/delete/<%= note._id %>" class="text-red-500 text-xs font-semibold">Delete</button>
                                    <a href="/edit/<%= note.title %>/<%= note._id %>" class="text-yellow-500 text-xs font-semibold">Edit</a>
                                </div>
                                <a href="/read/<%= note.title %>/<%= note._id %>" class="text-xs text-blue-500">Read more.</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <% }else{ %>
            <div>
                No notes available
            </div>
        <% } %>
    </div>
</body>
</html>